html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: rgba(194, 156, 240, 0.494);
  background-image: url("assets/resources/images/background1.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: flex-end;
  position: relative;
}

canvas,
#game-intro {
  border: 3px solid white;
  border-radius: 15px;
  margin: 20px;
}

.galactic-kittens {
  width: 600px;
}

.spaceship-btn {
  width: 50px;
  background-color: white;
  border: 1px solid #fcfaec;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
}

.spaceship-btn:hover {
  background-color: #5be1e6;
}

.selected-btn {
  background-color: rgb(239, 160, 232);
}

.spaceship-btn1 {
  position: absolute;
  top: 380px;
  left: 60px;
}

.spaceship-btn2 {
  position: absolute;
  top: 380px;
  left: 150px;
}

.spaceship-btn3 {
  position: absolute;
  top: 380px;
  left: 240px;
}

.spaceship-btn4 {
  position: absolute;
  top: 380px;
  left: 330px;
}

.music-on-off {
  width: 40px;
  height: 40px;
  background-image: url("assets/resources/images/music-off.png");
  background-size: cover;
  margin-bottom: 40px;
  margin-left: -100px;
  cursor: pointer;
}

.on {
  background-image: url("assets/resources/images/music-on.png");
}

.hidden {
  display: none;
}

.set-spaceship {
  width: 100px;
  display: flex;
  flex-wrap: wrap;
}

.select-spaceship-text {
  font: arial;
  color: white;
  font-size: 15px;
}

.player-name-input {
  position: absolute;
  top: 490px;
  left: 105px;
  width: 207.5px;
  box-shadow: 3px 3px #fcfaec;
  padding: 10px 10px;
  text-align: center;
  cursor: text;
  border: none;
  font: bold 13px sans-serif;
  color: rgb(239, 160, 232);
}

.score-btn {
  position: absolute;
  top: 532px;
  left: 105px;
  width: 230px;
  border-radius: 5px;
  border-color: rgb(239, 160, 232);
  font: bolder 13px sans-serif;
  color: rgba(147, 103, 201, 0.494);
}

.scores-list {
  position: absolute;
  top: 23px;
  left: 23px;
  width: 400px;
  height: 50px;
  text-align: center;
  border-collapse: collapse;
  border: 10px solid white;
  border-radius: 10px;
  table-layout: fixed;
  background-color: white;
  opacity: 70%;
  font: 13px sans-serif;
}

.scores-list th {
  width: 30%;
  height: 30px;
  font-size: 20px;
  color: #5be1e6;
}

.scores-list tr {
  border: 2px solid #fcfaec;
  font: bolder 14px sans-serif;
  color: rgb(239, 160, 232);
}
