html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: rgba(194, 156, 240, 0.494);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/resources/images/background4.png");
}

.container {
  display: flex;
  align-items: flex-end;
  position: relative;
}


canvas, #game-intro {
  border: 3px solid white;
  border-radius: 15px;
  margin: 20px;
}

.galactic-kittens {
  width: 600px;
}

.ship-btn {
  width: 50px;
  background-color: white;
  border: 1px solid #fcfaec;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
}

.ship-btn:hover {
  background-color: #5BE1E6
}

.selected-btn {
  background-color: rgb(239, 160, 232)
}
#ship-button1 {
  position: absolute;
  top: 380px;
  left: 60px;
}

#ship-button2 {
  position: absolute;
  top: 380px;
  left: 150px;
}

#ship-button3 {
  position: absolute;
  top: 380px;
  left: 240px;
}

#ship-button4 {
  position: absolute;
  top: 380px;
  left: 330px;
}

.music-on-off {
  width: 40px;
  height: 40px;
  background-image: url("/assets/resources/images/music-off.png");
  background-size: cover;
  margin-bottom: 40px;
  margin-left: -100px;
  cursor: pointer;
}

.on {
  background-image: url("/assets/resources/images/music-on.png");
}

.hidden {
  display: none;
}

.set-ship {
  width: 100px;
  display: flex;
  flex-wrap: wrap;
}

.select-ship-text {
  font: arial;
  color: white;
  font-size: 15px;
}

#player-name-input {
  position: absolute;
  top: 480px;
  left: 105px;
  width: 207.5px;
  box-shadow: 3px 3px #fcfaec;
  padding: 10px 10px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  cursor: text;
  border: none;
  font: bold 13px sans-serif;
  color:rgb(239, 160, 232);
}

#score-button {
  position: absolute;
  top: 525px;
  left: 105px;
  width: 230px;
  border-radius: 5px;
  border-color:rgb(239, 160, 232);
  font: bolder 13px sans-serif;
  color: rgba(147, 103, 201, 0.494);
}



#scores-list {
position: absolute;
top: 23px;
left: 23px;
width: 400px;
height: 50px;
text-align: center;
border-collapse: collapse;
border: 10px solid white;
border-radius: 10px;
background-color:white;
opacity: 40%;
font: 13px sans-serif;
}


#scores-list th {
  font-size: 20px;
  width: 30%;
  height: 30px;
  color: #5BE1E6;
}

#scores-list tr {
  border: 2px solid #fcfaec;
}