html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: rgba(194, 156, 240, 0.494);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/resources/images/background4.png");
}

.container {
  text-align: center;
  padding: 20px;
}


canvas {
  border: 3px solid white;
  border-radius: 15px;
}

.game-intro {
  border-radius: 10%;
}

.galactic-kittens2 {
  width: 600px;
}

.music-button {
  color: black;
  padding: 10px;
  text-decoration: none;
  border-radius: 20px;
  border: 1px solid purple;
}
